.taskprogress-card-container {
    border-radius: 5px;
    background-color: #FFFFFF !important;
    min-height: 594px !important;
    height: 42.5vh;
    width: 100%;
}

.taskprogress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #ffffff;
    height: 60px;
    padding: 10px 20px; 
    margin-bottom: 1px;
    text-align: center;
    border-top: 1px solid #4B5055;
}

.taskprogress-title {
    text-overflow: ellipsis !important;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    font-size: 20px;
    color: #4B5055;
    padding-bottom: 10px;
    margin-right: auto;
}

.taskprogress-date-text {
    margin-top: 2px;
    font-size: 16px;
    color: #A3AFBA;
}

.completed-task {
    text-decoration: line-through;
}

.last-task {
    border-bottom: 1px solid #696969;
}