.task-status-text {
    font-weight: 500;
    font-size: 16px;
    color: #36b4c5;
}
.center-icon-text {
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.title-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.asignment-popup-description-container{
  overflow: auto;
  height: 220px;
  width: 360px;
  border-radius: 44px;
  background-color: #36b4c5;
  align-items: center;
}

.desc-container-text {
    color: #ffffff;
    padding-left: 14px;
    padding-right: 14px;
}

.assignment-popup-container {
    border-radius: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }