.row-things-assignment {
    font-weight: bold !important;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-family: Futura !important;
    font-size: 15.5px;
    color: #4b5055;
}
  
.row-date-assignment {
    font-weight: 500 !important;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-family: Futura !important;
    font-size: 15.5px;
    color: #a0a1a3;
}

.alert-text {
  font-family: Futura !important;
  font-size: 16px;
  color: #4b5055;
  justify-content: center;
  align-self: center;
}


.popup-container-delete-request {
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 60vh;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column !important;
  flex-wrap: nowrap;
  justify-content: center !important;
}

.popup-cancel-container-delete{
  height: 4vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  margin-top: 1vh;
  margin-right: 1vh;
}


.popup-cancel-icon-delete {
  background-color: #F2F1F1 !important;
  height: 35px;
  width: 35px;
  border-radius: 50% !important;
}

.popup-text-container-delete{
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}

.popup-task-title-delete {
  font-family: Futura !important;
  font-size: 22px !important;
  color: #4B5055;
  margin-bottom: .5vh;
  margin-top: .5vh;
}

/*-----------Botones de Realizado y Cambiar--------------*/
.popup-button-container-delete{
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}
/*Boton de realizado*/
.popup-button-delete{
  border-radius: 44px !important;
  height: 58px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Futura!important;
  font-size: 20px !important;
  color: #ffffff;
  background-color: #f83f1e !important;
  margin-top: auto;
  margin-bottom: auto;
}

.exchange-status-text {
  font-weight: 500;
  font-size: 16px;
  color: #5EB2C2;
  margin-top: auto;
  margin-bottom: auto;
}