.box {
  position: fixed;
  color: yellow;
  height: 92vh;
  width: 189px;
  background-color: #8ACBD6;
  left: 32px;
  border-radius: 4px;
}

.texto-nav {
  font-size: 18px !important;
}

.icon path {
  stroke: #FFFFFF;
}

.logo {
  height: 45px;
  width: 45px;
}