.box {
  position: absolute;
  color: #36b4c5;
  min-height: 700px;
  height: 83.5vh;
  width: 172px;
  background-color: #36b4c5;
  left: 32px;
  border-radius: 5px;
}

.texto-nav {
  font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
  font-size: 18px !important;
}

.icon path {
  stroke: #FFFFFF;
}

.logo {
  height: 45px;
  width: 45px;
}