.main-container {
    margin-left: 230px;
    margin-right: 5vw;
    margin-top: 32px;
    margin-bottom: 32px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60vw;
}

.login-img {
    position: fixed;
    width: 60vw;
    height: 100vh; /* 50% of the view-height */
    top: 0%;
    left: 0%;
}

.title-row {
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-title {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 19.5px;
    font-weight: 500;
    color: #4B5055;
}

.round-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A3AFBA !important;
    height: 38px;
    width: 38px;
    border-radius: 50% !important;
}

.pointer {
    cursor: pointer;
}

