:root {
  font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  background-color: #eff2f6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

