.rounding{
    border-radius: 5px;
    height: 82px;
    display: flex;
    justify-content: center;
}

.progreso-text{
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    color: #4B5055;
    font-size: 18px;
    font-weight: 500 !important;
}
.fecha-text{
    color: #4B5055;
    font-size: 18px;
}

.progress-container{
    display: flex;
    flex-direction: row;
}

.progress-bar{
    margin-top: 4px;
    margin-left: 15px;
    background-color: #ffffff !important;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25) !important;
    height: 16px !important;
    border-radius: 10px !important;
    width: 22vw;
}

.progress-bar > * {
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25) !important;
    background-color:#36b4c5 !important;
    border-radius: 32px;
}

.profile-container{
    height: 84px;
    background-color: #36b4c5;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-icon {
    margin-top: -5px !important;
    margin-left: -4px !important;
}