.rounding{
    border-radius: 4px;
    height: 84px;
    display: flex;
    justify-content: center;
}

.progreso-text{
    color: #4B5055;
    font-weight: 'bold';
    font-size: 18px;
}

.progress-container{
    display: flex;
    flex-direction: row;
}

.progress-bar{
    margin-left: 15px;
    background-color: #d7d7d7 !important;
    height: 16px !important;
    border-radius: 10px !important;
    width: 22vw;
}

.progress-bar > * { background-color:#5EB2C2 !important; }

.profile-container{
    height: 84px;
    background-color: #8ACBD6;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}