.task-card-container {
    border-radius: 4px;
    background-color: #FFFFFF !important;
    min-height: 290px !important;
    height: 42.5vh;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F6;
    min-height: 200px;
    height: 30vh;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.upcoming-task-title {
    text-overflow: ellipsis !important;
    font-weight: 500;
    font-size: 22px;
    color: #4B5055;
    margin-bottom: 0px;
}

.task-date-text {
    margin-top: 2px;
    font-weight: 500;
    font-size: 16px;
    color: #18A900;
}

.task-description-container{
    min-height: 90px;
    height: 14vh;
    border-radius: 4px;
    background-color: #5EB2C2;
    overflow: auto;
    margin-left: 14px;
    margin-right: 14px;
}
.upcoming-task-description {
    color: #FFFFFF;
}