.task-pending-card-container {
    border-radius: 5px;
    background-color: #FFFFFF !important;
    min-height: 594px !important;
    height: 42.5vh;
}

.task-pending-container {
    display: flex;
    background-color: #EFF2F6;
    min-height: 470px;
    height: 30vh;
}

