.task-pending-card-container {
    border-radius: 5px;
    background-color: #ffffff !important;
    min-height: 594px !important;
    height: 42.5vh;    
}

.div-line{
    margin-top: -1px;
    height: 1px;
    border: none;
    background: #A3AFBA;
}

.pending-task-list-container{
    margin-top: -8px;
    height: 528px;
    overflow-y: auto;
}