
.requests-exchange-container {
    border-radius: 5px;
    background-color: #FFFFFF !important;
    min-height: 594px !important;
    height: 42.5vh !important;
}

.gray-divider{
    margin-top: 10px;
    margin-bottom: 0px;
    height: 1px;
    border: none;
    background: #8e9091;
}

.table-requests-container {
    height: 70vh !important;
    overflow-y: auto;
}

.info-icon-requests {
    margin-top: -4px;
    margin-left: 5px;
}

.title-row-requests {
    margin-left: 15px !important;
    margin-right: 15px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    flex-direction: row !important;
}

.toggle-exchange-requests{
    margin-top: auto;
    margin-bottom: 4px;
    height: 30px;
}

.card-title-request {
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 15.5px;
    font-weight: 500;
    color: #4B5055;
    display: flex;
    align-items: center;
}

.tables-in-tables {
    height: 69.5vh !important;
    overflow-y: auto;
}
.table-titles {
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 15.5px;
    font-weight: 500;
    color: #4B5055;
    text-align: center;
}

.empty-request {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    color: #4B5055;
    font-weight: bold !important;
    font-size: 25.5px;
    padding-top: 10vh;
    text-align: center;
}
