.completion-bar-card-container {
    border-radius: 5px;
    background-color: #FFFFFF !important;
    height: 38vh;  
    min-height: 290px;
    margin-bottom: 25px;  
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.completed-tasks-text {
    background: #4bb4c5;
    box-shadow: 0 3px 5px 2px rgba(75, 180, 197, .3);
    color: white;
  }
  