.calendar-card-container {
    border-radius: 5px;
    background-color: #ffffff !important;
    height: 55%;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #36b4c5 !important;
}

.MuiPickersCalendarHeader-label{
    text-transform: uppercase;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    color: #36b4c5 !important;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #36b4c5 !important;
}
