.calendar-card-container {
    border-radius: 5px;
    background-color: #ffffff !important;
    height: 55%;
}
.css-1aj9me-MuiPickersLayout-root .MuiPickersLayout-actionBar {
    display: none;
}

.css-1aj9me-MuiPickersLayout-root .MuiPickersLayout-toolbar {
    display: none;
}