.card-container {
    border-radius: 4px;
    background-color: #FFFFFF !important;
    min-height: 100px;
    height: 35vh;
}

.title-row {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    color: #4B5055;
}

.round-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A3AFBA !important;
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
}