.pending-task-container {
    margin-top: -1px;
    height: 81px;
    border-top: 1px solid #A3AFBA;
    border-bottom: 1px solid #A3AFBA;
}

.pending-task-title {
    width: 265px;
    font-family: Futura !important;
    font-size: 20px !important;
    color: #4B5055;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pending-task-date {
    font-family: Futura !important;
    font-size: 16px !important;
    color: #A3AFBA;
}

.check-cross {
    text-decoration: line-through;
}