.request-list-container {
    margin-bottom: 5px;
    height: 200px;
    overflow-y: auto;
}

.line{
    margin-bottom: -1px;
    height: 1px;
    background: #A3AFBA;
    border: none;
}

.title-row-r {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: -8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}