.popup-change-container {
    border-radius: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 430px;
    min-height: 450px;
    height: 50%px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text-change-container{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    height: 24vh;
    text-align: center;
}
/*------------------------Textos-----------------------*/
.popup-confirm-task-title {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 24px !important;
    color: #4B5055;
    margin-bottom: 0px;
    margin-top: -20px;
}
/*¿Desea marcarla como realizada?*/
.popup-confirm{
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 20px !important;
    color: #4B5055;
    margin-bottom: 0px;
    margin-top: 10px;
}
/*------------------- Capsulas de fecha -----------------*/
.popup-rangeDate-container{
    padding-top: 5px;
    min-height: 10px;
    height: 20vh;
    align-items: center;
}
/*-----------Botones de Realizado y Cambiar--------------*/
.popup-confirm-button-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 46px;
    padding-right: 45px;
  }
/*Boton de cambiado*/
.popup-button-confirm{
    border-radius: 44px;
    height: 58px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 20px !important;
    color: #ffffff;
    background-color: #36b4c5;
    cursor: pointer;
}
.popup-button-confirm:hover{
    background-color: #4bb4c5;
}
/*Boton de realizado*/
.popup-button-cancel{
    border-radius: 44px;
    height: 58px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial !important;
    font-size: 20px !important;
    color: #ffffff;
    background-color: #A3AFBA;
    cursor: pointer;
}

.popup-button-cancel:hover{
    background-color: #8a97a7;
}